<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ollama</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/ollama</string>
        <string>serve</string>
    </array>
    <key>UserName</key>
    <string>ollama</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/opt/homebrew/var/log/ollama.log</string>
    <key>StandardOutPath</key>
    <string>/opt/homebrew/var/log/ollama.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>OLLAMA_HOST</key>
        <string>127.0.0.1:{{ ollama_port }}</string>
        <key>OLLAMA_FLASH_ATTENTION</key>
        <string>{{ ollama_flash_attention }}</string>
        <key>OLLAMA_NUM_PARALLEL</key>
        <string>{{ ollama_num_parallel }}</string>
        <key>OLLAMA_KV_CACHE_TYPE</key>
        <string>{{ ollama_kv_cache_type }}</string>
        <key>OLLAMA_KEEP_ALIVE</key>
        <string>-1s</string>
        <key>HOME</key>
        <string>/opt/homebrew/var/ollama</string>
    </dict>
</dict>
</plist>
